<h2 mat-dialog-title>{{ data.asunto }}</h2>

<mat-dialog-content class="dialog-content">
  <mat-divider></mat-divider>

  <div class="details-container">
    <div class="detail-item">
      <strong>{{ 'Support.TicketID' | translate }}:</strong>
      <span>#{{ data.id }}</span>
    </div>
    <div class="detail-item">
      <strong>{{ 'Support.Date' | translate }}:</strong>
      <span>{{ data.fecha }}</span>
    </div>
    <div class="detail-item">
      <strong>{{ 'Support.Status' | translate }}:</strong>
      <span>
        <span class="status-chip" [ngClass]="getStatusClass(data.estado)">
          {{ translateStatus(data.estado) }}
        </span>
      </span>
    </div>
  </div>

  <div class="message-history">
    <h4>{{ 'Support.Message' | translate }}:</h4>

    <p class="ticket-message">
      {{ data.mensaje || ('Support.NoDescription' | translate) }}
    </p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" mat-dialog-close>
    {{ 'Support.Close' | translate }}
  </button>
</mat-dialog-actions>
