<div class="profile-container">
  <div class="profile-section-card">
    <div class="section-header">
      <h2>{{ 'Profile.PersonalInfo' | translate }}</h2>
      <button mat-flat-button color="primary" (click)="toggleEdit(personalInfoForm, 'personal')">
        <mat-icon>{{ personalInfoEditMode ? 'save' : 'edit' }}</mat-icon>
        <span>{{ (personalInfoEditMode ? 'Profile.Save' : 'Profile.Edit') | translate }}</span>
      </button>
    </div>
    <form [formGroup]="personalInfoForm" class="personal-info-content">
      <div class="profile-picture-container" [class.editable]="personalInfoEditMode" (click)="onChangeProfilePicture()">
        <img [src]="personalInfoForm.get('avatar')?.value" alt="Foto de Perfil">
        <mat-chip *ngIf="ownerProfileData.isVerified" color="primary" selected class="verified-chip">
          <mat-icon>verified</mat-icon> <span>{{ 'OwnerProfile.Verified' | translate }}</span>
        </mat-chip>
      </div>
      <div class="personal-details">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'Profile.Name' | translate }}</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'Profile.Phone' | translate }}</mat-label>
          <input matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'OwnerProfile.PublicBio' | translate }}</mat-label>
          <textarea matInput formControlName="publicBio" rows="3"></textarea>
        </mat-form-field>
        <button *ngIf="personalInfoEditMode" mat-stroked-button (click)="cancelEdit(personalInfoForm, 'personal')" class="cancel-button">{{ 'Profile.Cancel' | translate }}</button>
      </div>
    </form>
  </div>

  <div class="profile-section-card">
    <div class="section-header">
      <h2>{{ 'OwnerProfile.PayoutInfo' | translate }}</h2>
      <button mat-flat-button color="primary" (click)="toggleEdit(payoutInfoForm, 'payout')">
        <mat-icon>{{ payoutInfoEditMode ? 'save' : 'edit' }}</mat-icon>
        <span>{{ (payoutInfoEditMode ? 'Profile.Save' : 'Profile.Edit') | translate }}</span>
      </button>
    </div>
    <form [formGroup]="payoutInfoForm">
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="'OwnerProfile.PayPal' | translate">
          <div class="tab-content">
            <mat-form-field appearance="outline" class="payout-field">
              <mat-label>{{ 'OwnerProfile.PayoutEmail' | translate }}</mat-label>
              <input matInput type="email" formControlName="payoutEmail">
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
      <button *ngIf="payoutInfoEditMode" mat-stroked-button (click)="cancelEdit(payoutInfoForm, 'payout')" class="cancel-button payout-cancel-btn">{{ 'Profile.Cancel' | translate }}</button>
    </form>
  </div>

  <div class="profile-section-card">
    <h2>{{ 'OwnerProfile.Security' | translate }}</h2><br>
    <div class="security-content">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'Profile.CurrentPassword' | translate }}</mat-label>
        <input matInput [type]="currentPasswordVisible ? 'text' : 'password'" [value]="currentPasswordMock" readonly>
        <button mat-icon-button matSuffix (click)="currentPasswordVisible = !currentPasswordVisible" type="button">
          <mat-icon>{{ currentPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="openChangePasswordDialog()">
        {{ 'OwnerProfile.ChangePassword' | translate }}
      </button>
    </div>
  </div>

  <div class="profile-section-card">
    <h2>{{ 'OwnerProfile.ReceivedReviews' | translate }}</h2><br>
    <div class="reviews-container">
      <mat-card class="review-card" *ngFor="let review of reviewsReceived.slice(0, 2)">
        <mat-card-header>
          <img mat-card-avatar [src]="review.renterImage" [alt]="review.renterName">
          <mat-card-title>{{ review.renterName }}</mat-card-title>
          <mat-card-subtitle>{{ review.date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content><p>"{{ review.comment }}"</p></mat-card-content>
        <mat-card-actions class="review-rating">
          <div class="rating-stars">
            <strong>{{ review.rating.toFixed(1) }}</strong>
            <mat-icon *ngFor="let star of stars; let i = index">{{ getStarType(review.rating, i + 1) }}</mat-icon>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="view-more-container" *ngIf="reviewsReceived.length > 2">
      <button mat-flat-button color="primary" (click)="openReviewsDialog()">{{ 'Profile.ViewMore' | translate }}</button>
    </div>
  </div>

</div>
